[project]
	description = A Vagrant provisioner for docker compose.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Leigh McCulloch (leighmcculloch)
[access "refs/for/refs/*"]
	read = group user/Leigh McCulloch (leighmcculloch)
	push = group user/Leigh McCulloch (leighmcculloch)
	label-Code-Review = -2..+2 group user/Leigh McCulloch (leighmcculloch)
	label-Verified = -1..+1 group user/Leigh McCulloch (leighmcculloch)
	rebase = group user/Leigh McCulloch (leighmcculloch)
	removeReviewer = group user/Leigh McCulloch (leighmcculloch)
	submit = group user/Leigh McCulloch (leighmcculloch)
[access "refs/heads/*"]
	read = group user/Leigh McCulloch (leighmcculloch)
	create = group user/Leigh McCulloch (leighmcculloch)
	push = +force group user/Leigh McCulloch (leighmcculloch)
	pushMerge = group user/Leigh McCulloch (leighmcculloch)
[access "refs/tags/*"]
	push = group user/Leigh McCulloch (leighmcculloch)
	push = +force group user/Leigh McCulloch (leighmcculloch)
